<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Real Estate App</title>
    <!--css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" crossorigin="anonymous" />
    <link href="Content/ui/jquery-ui.min.css" rel="stylesheet" />

    <!--js-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>

    <script src="Content/ui/jquery-ui.min.js"></script>
</head>
<body >
    <nav class="navbar navbar-toggleable-md fixed-top" style="background-color:#96B296">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
    </nav><br /><br /><br />
